<div class="large-10 columns">
<table class="hover">
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
  <% @articles.each do |article| %>
  <tr>
    <td><%= article.title  %></td>

    <td><%= link_to '<i class="fa fa-binoculars" aria-hidden="true"></i>'.html_safe, article_path(article) %></td>
    <td><%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_article_path(article) %></td>
    <td><%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, article_path(article),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>
