<div class="pagebackground">
<%= render 'layouts/header' %>
<%= render 'layouts/topbar' %>

<div class="row">
    <div class="large-6 small-12 columns">
        <%= render 'form' %>
      </div>

      <%= render 'layouts/footer' %>
    </div>
</div>
