<%= render 'layouts/header' %>
<%= render 'layouts/topbar' %>

<section id="nieuws">
  <div class="nieuwsleft">
  <div class="large-4 columns">
    <p><p>Nieuws toevoegen</p></p>
  </div>
  </div>
  <div class="large-4 columns">
  <%= render 'form' %>
</div>
</section>



<%= render 'layouts/footer' %>
