
<div class="callout" data-closable>
  <div class="advbanner1">
    <div class="large-12">
      <p>Advertentie</p>
        <%= image_tag("backgr/nurictrock.png") %>
    </div>
  </div>
  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
