
<div class="callout" data-closable="slide-out-right">
  <div class="advbanner">
    <div class="large-12">
      <p>Advertentie</p>
      <%= image_tag("adv/itbanner") %>
    </div>
  </div>
  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
