
</section>
<div class="section-ac">

  <section class="section-a">
    <div class="row">
      <div class="columns large-6">
        <%= image_tag("showcases/opzet1.png") %>
      </div>
      <div class="columns large-6">
        <div class="textsectiona">
        <h2>NUR-ICT</h2>
        <p>Bij NUR-ICT kunt u als particulier of namens uw bedrijf terecht voor hulp op maat.
          Met een diversiteit aan diensten en specialismen kunnen wij u professioneel hulp bieden bij uw alledaagse ICT problemen.<br>
          Of u nou uw vakantiefoto's kwijt bent vanwege defect apparatuur of een website op maat wil laten bouwen voor uw onderneming, kunt u contact opnemen met ons.<br>
          <br>
          U kunt ons inschakelen voor <strong>data herstel</strong>, <strong>systeemproblemen</strong>, <strong>netwerkproblemen</strong>, <strong>computer/laptop reparatie</strong>, <strong>telefoonreparaties</strong>, het bouwen van een <strong>website</strong> of <strong>webwinkel</strong> en vanzelfsprekend voor <strong>professioneel advies</strong>.<p>
            <div class="buttonsectiona">
              <a class="button large" href="about.html"> Lees meer..</a>
            </div
        </div>
        </div>
    </div>
  </section>

  <section class="showcase">
    <div class="row">
      <div class="columns large-12 medium-6 ">
        <div class="showcase-box">
          <h2>EEN WEBSITE OP MAAT!</h2>
          <h4>Samen komen wij tot een oplossing</h4>
          <div class="row">
            <div class="columns large-3 medium-6">
              <ul>
                <h6>DESIGN & HUISSTIJL</h6>
                <li><strong> Responsive webdesign</strong> </li>
                <li><strong> Laat ons uw huisstijl ontwikkelen</strong></li>
                <li><strong> Logo</strong></li>
              </ul>
            </div>
              <div class="columns large-3 medium-6">
                <ul>
                  <h6>KWALITEIT</h6>
                  <li><strong>Beveiligd</strong> conform richtlijnen</li>
                  <li><strong>Doorontwikkelen</strong> mogelijk</li>
                  <li><strong>Nieuwste</strong> technieken</li>
                </ul>
              </div>
              <div class="columns large-3 medium-6">
                <ul>
                  <h6>BOUW & IMPLEMENTATIE</h6>
                  <li><strong>Responsive</strong> webdesign</li>
                  <li><strong>Van bouw</strong> tot uitrol</li>
                  <li><strong>Op maat</strong> naar uw wensen</li>
                </ul>
              </div>
              <div class="columns large-3 medium-6">
                <ul>
                  <h6>SERVICE</h6>
                  <li><strong>Zoekmachine</strong> optimalisatie</li>
                  <li><strong>Google Adwords</strong> beheer</li>
                  <li><strong>Video</strong> Marketing</li>
                </ul>
              </div>
        </div>
      </div>

          <div class="showcase-box-bottom">
            <div class="row">
              <div class="columns large-6 medium-6">
                <strong>Vanaf</strong>
                <div class="pricing">€ 249,95</div>
              </div>
              <div class="start-link columns large-6 medium-6">
                <%= link_to 'Vraag nu meer informatie',  static_pages_webdesign_path, :class => 'navbar-link' %>  <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
</div>
