</section>
<section class="home-packages row">
  <div class="columns large-12 medium-12">
    <h2 class="text-center">DIENSTEN</h2>
      <p class=" lead text-center">Vervelende popups, spyware of virussen? Werkt uw pc of laptop niet of doet hij soms raar? Heeft u een website nodig voor uw bedrijf of organisatie? Bent u uw vakantiefoto's kwijt?  Bel ons gerust voor professioneel advies. </p>
    <br>
    <div class="tab-content" data-tabs-content="package-tabs">
        <div class="row">
          <div class="columns large-4 medium-4">
            <div class="callout p-box-1">
              <h3>PC HULP</h3>
              <p>Ondersteuning bij uw software problemen</p>
              <i class="fa fa-desktop" aria-hidden="true"></i>
              <ul class="feature menu vertical">
                <li>Virussen en spyware verwijderen</li>
                <li>Internet verbinding herstellen en beveiligen</li>
                <li>PC sneller maken</li>
                <li>Software installeren of herinstalleren</li>
                <li>Herinstallatie PC</li>
                <li>Randapparatuur installeren</li>
              </ul>
              <div class="pricing"><strong>Vanaf</strong><span> €34,99</span></div>
                <a class="button large expanded" href="#">Meer informatie</a>
              </div>
            </div>
              <div class="columns large-4 medium-4">
                <div class="callout p-box-2">
                  <h3>DATA RECOVERY</h3>
                    <p>Herstel uw data</p>
                    <i class="fa fa-heartbeat" aria-hidden="true"></i>
                    <ul class="feature menu vertical">
                      <li>Softwarematig beschadigde harde schijven</li>
                      <li>Fysiek beschadigde harde schijven</li>
                      <li>SSD schijven</li>
                      <li>Complete RAID systemen</li>
                      <li>USB, SD en overige FLASH geheugen</li>
                      <li>Telefoons met flash geheugen</li>
                    </ul>
                  <div class="pricing"><strong>Vanaf</strong><span> €99,99</span></div>
                    <a class="button large expanded" href="#">Meer informatie</a>
                  </div>
              </div>
              <div class="columns large-4 medium-4">
                <div class="callout p-box-3">
                  <h3>WEB DESIGN</h3>
                  <p>De poort naar uw organisatie</p>
                  <i class="fa fa-laptop" aria-hidden="true"></i>
                  <ul class="feature menu vertical">
                    <li>Een website op maat </li>
                    <li>Draag uw boodschap uit</li>
                    <li>Etaleer uw producten</li>
                    <li>Organisatiepagina's</li>
                    <li>Webshops</li>
                    <li>Front-end &amp; Back-end</li>
                  </ul>
              <div class="pricing"><strong>Vanaf</strong><span> 249,99</span></div>
                <a class="button large expanded" href="">Meer informatie</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
