<section class="section-b">
  <div class="inhoud">
    <div class="row">
      <div class="columns large-6">
        <%= image_tag("showcases/schermreparatie.png") %>
        </div>
            <h2>Schermreparatie</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
              <a class="button large" href="about.html"> Lees meer..</a>
        </div>
      </div>
    </div>
</div>
</section>
