<section class="section-a">
  <div class="row">
    <div class="columns large-6">
      <%= image_tag("showcases/opzet1.png") %>
    </div>
    <div class="columns large-6">
      <h2>Tot uw dienst</h2>
      <p>Bij NUR-ICT kunt u als particulier of namens uw bedrijf terecht voor hulp op maat.
        Met een diversiteit aan diensten en specialismen kunnen wij u professioneel hulp bieden bij uw alledaagse ICT problemen.<br>
        Of u nou uw vakantiefoto's kwijt bent vanwege defect apparatuur of een website op maat wil laten bouwen voor uw onderneming, kunt u contact opnemen met ons.<br>
        <br>
        U kunt ons inschakelen voor <strong>DATA-RECOVERY</strong>, <strong>systeemproblemen</strong>, <strong>netwerkproblemen</strong>, <strong>computer/laptop reparatie</strong>, <strong>telefoonreparaties</strong>, het bouwen van een <strong>website</strong> of <strong>webwinkel</strong> en vanzelfsprekend voor <strong>professioneel advies</strong>.<p><a class="button large hollow" href="about.html"> Lees meer..</a>
    </div>
  </div>
</section>
