<section class="section-b">
  <div class="inhoud">
    <div class="row">
      <div class="columns large-6">
        <div class="sectionbimg">
        <%= image_tag("showcases/schermreparatie.png") %>
        </div>
        </div>
        <div class="framesectionb">
          <div class="textsectionb">
              <h2>professionele webshop</h2>
              <p>Een webshop in je huisstijl op je eigen site!
                Als je besluit met ons te gaan werken (of dat al doet maar van deze service gebruik wil maken) maken we een webshop in JOUW huisstijl, met ook alleen jouw producten erin. Die shop kun je gemakkelijk bereiken via een eigen URL,
                en op je eigen site laten draaien.
                <br><br>
                We bieden overigens verschillende oplossingen qua design van je webwinkel;
                de eenvoudigste is met alleen een eigen logo boven een ‘standaard’ layout
                (in een eigen kleurkeuze), maar we kunnen de online shop ook volledig naar jouw wensen stylen,
                geheel op maat ontworpen.
                <br><br>
                Omdat we een webshop maken voor jou alleen geven we je ook toegang tot de ‘backend’
                van de webshop (het administratieve gedeelte dus), waar je te allen tijde de voorraden
                en verkopen kunt zien. Natuurlijk krijg je desgewenst ook een e-mailnotificatie als er iets
                verkocht wordt op je site. </p>
              <a class="button large" href="about.html"> Lees meer..</a>
        </div>
        </div>
      </div>
    </div>
</div>
</section>
