<section class="showcase">
  <div class="row">
    <div class="columns large-6 medium-6 ">
      <div class="showcase-box">
        <h2>EEN WEBSITE OP MAAT!</h2>
        <p>Samen komen wij tot een oplossing</p>
        <div class="row">
          <div class="columns large-3 medium-6">
            <ul>
              <li><strong> Responsive</strong> webdesign</li>
              <li><strong> Suppersnelle</strong> webhosting </li>
              <li><strong>SEO </strong> teksten</li>
            </ul>
          </div>
            <div class="columns large-3 medium-6">
              <ul>
                <li><strong>Zoekmachine</strong> optimalisatie</li>
                <li><strong>Google Adwords</strong> beheer</li>
                <li><strong>Video</strong> Marketing</li>
              </ul>
            </div>
            <div class="columns large-3 medium-6">
              <ul>
                <li><strong>Zoekmachine</strong> optimalisatie</li>
                <li><strong>Google Adwords</strong> beheer</li>
                <li><strong>Video</strong> Marketing</li>
              </ul>
            </div>
            <div class="columns large-3 medium-6">
              <ul>
                <li><strong>Zoekmachine</strong> optimalisatie</li>
                <li><strong>Google Adwords</strong> beheer</li>
                <li><strong>Video</strong> Marketing</li>
              </ul>
            </div>
      </div>
    </div>

        <div class="showcase-box-bottom">
          <div class="row">
            <div class="columns large-6 medium-6">
              <strong>Vanaf</strong>
              <div class="pricing">€ 249,95</div>
            </div>
            <div class="start-link columns large-6 medium-6">
              <h5><a href="findex.html"></a></h5><a href="index.html"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Vraag nu meer informatie</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
