<section class="showcase">
  <div class="row">
    <div class="columns large-6 medium-6 ">
      <div class="showcase-box">
        <h2>EEN WEBSITE OP MAAT!</h2>
        <p>Samen komen wij tot een oplossing</p>
        <div class="row">
          <div class="columns large-6 medium-6">
            <ul>
              <li><strong> Ontworpen</strong> In goed overleg</li>
              <li><strong> Gehost</strong> op </li>
              <li><strong>SDD</strong> Data Storage</li>
            </ul>
          </div>
            <div class="columns large-6 medium-6">
              <ul>
                <li><strong>Unlimited</strong> Transfer</li>
                <li><strong>24/7</strong> Tech Support</li>
                <li><strong>99% Uptime</strong> Guarantee</li>
              </ul>
            </div>
          <div>
        </div>
      </div>
    </div>

        <div class="showcase-box-bottom">
          <div class="row">
            <div class="columns large-6 medium-6">
              <em>Vanaf</em>
              <div class="pricing"><span>€ 249,95</span></div>
            </div>
            <div class="start-link columns large-6 medium-6">
              <h5><a href="findex.html"></a></h5><a href="index.html"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Vraag nu meer informatie</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
