<div class="top-bar fixed">
  <div class="row">
  <div class="top-bar-left">
    <div class="logotopbar">
      <%= image_tag("logos/logo.png") %>
    </div>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><%= link_to "Home", controller:'welcome' %></li> <li>|</li>
      <li><%= link_to 'Nieuws', controller: 'articles' %></li><li>|</li>
      <li><a href="wdes.html">Webdesign</a></li><li>|</li>
      <li><a href="support.html">schermreparatie</a></li><li>|</li>
      <li><a href="datarec.html">Data recovery</a></li><li>|</li>
      <li><a href="support.html">pc hulp</a></li>
    </ul>
  </div>
  </div>
</div>
